<div class="panel">
  <div class="pane feed-subscriptions" ng-controller="SubscriptionListController">
    <div class="list">
      <a class="welcome whoami">Hi Raj</a>
      <div class="subscribed-item">
        <div class="item-content all" ng-click="collage();">Unread</div>
      </div>
      <ul>
        <subscription-item ng-repeat="subscription in subscriptions" />
      </ul>
    </div>
    <div class="icons">
      <a href="#" class="refresh action-icon"></a>
      <a class="right add-subscription-icon action-icon" ng-click="showDialog()"></a>
    </div>
  </div>

  <div class="pane feed" ng-controller="FeedItemsController">
    <div class="list">
      <feed-grouping ng-repeat="grouping in assortedFeedItems" />
    </div>
  </div>

  <div class="hide add-new-dialog" ng-controller="AddDialogController">
    <div class="title-bar">
      <input type="button" class="left" ng-click="close()" value="Cancel" />
      <input type="button" class="right" ng-click="addSubscription();" value="Subscribe" ng-disabled="!isValidFormState" />
      <div class="heading">Add Subscription</div>
    </div>

    <div class="field">
      <input type="text" class="feed-url" name="feed_url" ng-model="url" placeholder="Feed URL">
    </div>

    <div class="footer">
      <input type="text" ng-show="isNewFolder" name="folder-name" class="right folder-name" placeholder="Folder name..." ng-model="newFolderName" focus-on="folderNameFocus">
      <select name="category" class="category" ng-model="currentFolderSelectionValue">
        <option value="no-folder" selected="selected">No Folder</option>
        <optgroup label="Select Folder:" >
          <option ng-repeat="folder in folderList" value="{{folder}}">{{folder}}</option>
        </optgroup>
        <optgroup label="Create:">
          <option value="new-folder">Create New</option>
        </optgroup>
      </select>
    </div>
  </div>
</div>

<script type="text/html" id="subscribed-item">
  <div class="subscribed-item" ng-click="show()">
      <div ng-if="subscription.type == 'folder'">
        <div ng-class="{ 'collapsed' : subscription.collapsed === true }" class="folder item-content"><i class="folder-icon expanded"  ng-click="collapse()"></i>{{subscription.name}}</div>
      </div>
      <div ng-if="subscription.type == 'feed'">
        <div class="feed-item item-content" ng-class="{ 'collapsed': subscription.collapsed === true, 'indented': subscription.child === true}"><img ng-src="{{subscription.favicon}}" />{{subscription.name}}</div>
      </div>
  </div>
</script>

<script type="text/html" id="feed-grouping-template">
  <div class="feed-grouping">
    <div class="section-date" data-livestamp="{{grouping.date}}"></div>
    <feed-item ng-repeat="item in grouping.items" />
  </div>
</script>

<script type="text/html" id="feed-item-template">
  <div class="feed-item" ng-click="showItem()">
    <div class="icon"><img ng-src="{{item.favicon}}"/></div>
    <div class="item-content">
        <div class="first-row">
          <div class="item-date" data-livestamp="{{item.time}}"></div>
          <div class="name">{{item.site}}</div>
        </div>
        <div class="second-row">
          <h2 class="title">{{item.title}}</h2>
          <p class="excerpt">{{item.body}}</p>
        </div>
    </div>
  </div>
</script>

