<div class="panel">
  <div class="pane feed-subscriptions" ng-controller="SubscriptionListController">
    <div class="list">
      <a href="#" class="welcome">Hi! Raj!</a>
      <div class="all">Unread</div>
      <ul>
        <subscription-item ng-repeat="subscription in subscriptions" />
      </ul>
    </div>
    <div class="icons">
      <a href="#" class="refresh action-icon"></a>
      <a class="right add-subscription-icon action-icon" ng-click="showDialog()"></a>
    </div>
  </div>

  <div class="pane feed" ng-controller="FeedItemsController">
    <div class="list">
      <div class="item">
        <div class="time">
          5:00 PM
        </div>

        <div class="feed">Stack Overflow Careers</div>
        <h2>Software Engineer, O'Reilly Media at O'Reilly Media</h2>
        <div class="excerpt">
          Inspired by Chewang Norphel’s work of creating artificial glaciers, when Sonam Wangchuk saw people struggling to meet their basic water requirements in Ladakh
        </div>
      </div>
    </div>
  </div>
  <div class="hide add-new-dialog" ng-controller="AddDialogController">

    <div class="title-bar">
      <input type="button" class="left" ng-click="close()" value="Cancel" />
      <input type="button" class="right" ng-click="addSubscription();" value="Subscribe" ng-disabled="!isValidFormState" />
      <div class="heading">Add Subscription</div>
    </div>

    <div class="field">
      <input type="text" class="feed-url" name="feed_url" ng-model="url" placeholder="Feed URL">
    </div>

    <div class="footer">
      <input type="text" ng-show="isNewFolder" name="folder-name" class="right folder-name" placeholder="Folder name..." ng-model="newFolderName" focus-on="folderNameFocus">
      <select name="category" class="category" ng-model="currentFolderSelectionValue">
        <option value="no-folder" selected="selected">No Folder</option>
        <optgroup label="Select Folder:" >
          <option ng-repeat="folder in folderList" value="{{folder}}">{{folder}}</option>
        </optgroup>
        <optgroup label="Create:">
          <option value="new-folder">Create New</option>
        </optgroup>
      </select>
    </div>
  </div>
</div>

<script type="text/html" id="subscribed-item">
  <div class="subscribed-item">
      <div ng-if="subscription.type == 'folder'">
        <div class="folder item-content"><i class="folder-icon expanded"></i>{{subscription.name}}</div>
      </div>
      <div ng-if="subscription.type == 'feed'">
        <div class="feed-item item-content" ng-class="{ 'indented': subscription.child === true}"><img src="{{subscription.favicon}}" />{{subscription.name}}</div>
      </div>
  </div>
</script>
