/*! Mixins */
@import "mixins/rounded";
@import "mixins/utilities";

/*! Base */
@import "lib/normalize";
@import "base";

/*! Framework */
@import "framework-elements";
@import "components/dialog";

.app,.content {
  height: 100%;
}

.panel {
  height: 100%;
  min-width: 128rem;
  .pane {
    float: left;
    height: 100%;
    border: 0.1rem solid #000;
  }
  .feed-subscriptions {
    width: 25%;
  }
  .feed {
    width: 75%;
    overflow: auto;
  }
}

.feed {
  .list {

    .item {
      padding: 0.5rem 1rem;

      &:hover {
        background-color: #eee;
      }
      h2 {
        margin: 0;
      }
      .time {
        float: right;
      }
      .feed {
        color: #666;
      }

      .excerpt {
        font-size: 1.2rem;
        color: #555;
      }
    }
  }
}

.feed-subscriptions {
  padding: 2rem 0 0 0;
  position: relative;

  .all {
    font-size: 1.8rem;
  }

  .welcome {
    font-size: 2rem;
    text-align: center;
    padding: 0 0 0 0.5rem;
  }




  .list {
    position: absolute;
    bottom: 5rem;
    top: 0;
    left: 0;
    right: 0;
    overflow: auto;
  }

  .right {
    float: right;
  }

  .icons {
    padding: 0 1rem 1rem 1rem;
    font-size: 1.4rem;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }

  .list ul {
    list-style: none;
    padding: 0;
    li {
      padding: 0.75rem 0.5rem 0.75rem 2.5rem;
      cursor: default;
      display: block;
      font-size: 1.8rem;
      &.folder {
        background: url(image_path("feed-item.png")) no-repeat 0.5rem 1.25rem;
        background-size: 10px;
      }
      ul {
        display: none;
        padding: 0;
        li {
          padding: 1rem 0 0 1rem;
        }
      }
      &:hover {
        background-color: #eee;
        color: #B00100;
      }

      &.second-level {
        padding-left: 4rem;
      }

      &.expanded {
        ul {
          display: block;
        }
      }
      .name {
        max-width: 80%;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .count {
        float: right;
        color: #888;
      }
    }
  }
}

.whoami {
  padding: 1rem;
  display: block;
  height: 100px;
  width: 100px;
  margin: 0 auto;
  text-align: center;
}

.subscribed-item {
  display: block;
  font-size: 1.8rem;
  &:hover {
    background-color: #eee;
  }


  .item-content {
    padding: 1rem;
    padding-left: 2rem;
    cursor: pointer;
  }

  .folder {
    .folder-icon {
      background: url(image_path("feed-item-open.png")) no-repeat;
      background-size: contain;
      width: 20px;
      height: 20px;
      margin-right: 1rem;
      display: inline-block;
      vertical-align: middle;
    }

    &.collapsed {
      .folder-icon {
        background-image: url(image_path("feed-item.png"));
      }
    }
  }

  .feed-item {


    &.indented {
      padding-left: 5rem;
      &.collapsed {
        display: none;
      }
    }
     img {
       width: 2rem;
       height: 2rem;
       float: left;
       margin-right: 1rem;
     }
  }

  .folder {

  }
}

.action-icon {
  background-repeat: no-repeat;
  background-size: contain;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.refresh {
  background-image: url(image_path('feed-refresh.png'));
}

.add-subscription-icon {
  background-image: url(image_path("add.png"));
}

.feed-grouping {
  margin-bottom: 2rem;
  border: 0.1rem solid #eee;
  .section-date {
    background: linear-gradient(rgba(255, 255, 255, 1.0) 10px, rgba(230, 230, 230, 1.0) 21px);
    border-bottom: 0.1rem solid #eee;
    padding: 0.3rem;
    cursor: default;
  }
}

.feed-item {
  @include clearfix;
  padding: 0.5rem;
  cursor: pointer;

  .icon {
    float: left;
    margin: 0.5rem 1rem 0 0;
    img {
      width: 32px;
      height: 32px;
    }

  }
  .first-row {
    font-size: 1.2rem;
  }

  &:hover {
    background-color: #999;
    color: #fff;
  }

  h2 {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 80%;
  }

  h2, p {
    margin: 0;
  }
  .item-date {
    float: right;
  }

}


.item.page {
  width: auto;
  margin-left: 10rem;
  margin-right: 10rem;
  font-size: 1.8rem;
  padding: 3rem 0 0 0;

  .back {
    margin: 1rem 0 1rem 1rem;
    border-radius: 0.2rem;
    background-color: #666;
    color: #fff;
    display: inline-block;
    padding: 0.3rem 1rem;
    cursor: pointer;
    &:hover {
      background-color: #eee;
      color: #000;
    }
  }

  .content {
    margin: 0 1rem 3rem 1rem;
  }

  .heading {
    cursor: pointer;
    padding: 1rem;
    border-radius: 1rem;
    h2 {
      margin: 0;
    }
    &:hover {
      background-color: #eee;
    }
  }
}

.lights-down {
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
}
.loading-dialog {
  position: fixed;
  width: 10rem;
  height: 10rem;
  text-align: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url(image_path("loader.gif")) no-repeat 50%  40%;
  background-color: #fff;
  display: table-cell;
  padding: 7rem 0 0 0;
  font-family: inherit;
  vertical-align: middle;
  border: 0.1rem solid #eee;
  box-shadow: 0 0 0.3rem #eee inset;
  border-radius: 1rem;
  margin: auto;
}